:root {
  --primary-color: #e4b1a5;
  --secondary-color: #59371c;
  --tertiary-color: #ebdacc;
  --quaternary-color: #dd8470;
  --quinary-color: #8f542e;
  --senary-clor: #b2784a;
  --box-shadow: 0 2px 15px var(--quinary-color);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-color);
}

.navbar-brand {
  max-height: 50px;
  margin: 10px 0;
}

.navbar {
  box-shadow: var(--box-shadow);
  padding: 0 50px;
}

nav .navbar-nav li a,
.logo-text {
  color: var(--secondary-color);
}

nav .navbar-nav li a:hover {
  color: var(--tertiary-color);
}

.underConstruction {
  position: relative;
  font-size: 30px;
}

.underConstruction span {
  position: relative;
  display: inline-block;
  animation: flip 2s infinite;
  animation-delay: calc(0.2s * var(--i));
}

@keyframes flip {
  0%,
  50% {
    transform: rotateY(360deg);
  }
}

.logo-outer {
  width: 55px;
  height: 55px;
  position: relative;
  margin-top: -8px !important;
}

.logo-inner {
  width: 55px;
  height: 55px;
}

.logo-text {
  font-size: 12px;
  line-height: 1.1;
  padding: 25px 0 5px 5px;
  margin: auto 0;
  font-family: "Old Standard TT", serif;
}

.logo-outer::before,
.logo-outer:after,
.logo-inner::before,
.logo-inner::after {
  content: "";
  position: absolute;
  height: 20%;
  width: 20%;
}

.logo-outer:before {
  right: 0;
  border-right: 1.5px solid var(--tertiary-color);
  border-top: 1.5px solid var(--tertiary-color);
}

.logo-outer:after {
  bottom: 0;
  border-left: 1.5px solid var(--tertiary-color);
  border-bottom: 1.5px solid var(--tertiary-color);
}

.logo-inner:before {
  left: 0;
  top: 0;
  border-left: 1.5px solid var(--tertiary-color);
  border-top: 1.5px solid var(--tertiary-color);
}

.logo-inner:after {
  right: 0;
  bottom: 0;
  border-right: 1.5px solid var(--tertiary-color);
  border-bottom: 1.5px solid var(--tertiary-color);
}

.logo-inner-2:after {
  content: "";
  background: var(--secondary-color);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  right: 7px;
}
