:root {
  --primary-color: #e4b1a5;
  --secondary-color: #59371c;
  --tertiary-color: #ebdacc;
  --quaternary-color: #dd8470;
  --quinary-color: #8f542e;
  --senary-color: #b2784a;
  --box-shadow: 0 2px 15px var(--quinary-color);
}

body {
  background-color: var(--primary-color);
}

.logo-outer {
  width: 55px;
  height: 55px;
  position: relative;
  margin-top: -8px !important;
}

.logo-inner {
  width: 55px;
  height: 55px;
}

.logo-text {
  font-size: 12px;
  line-height: 1.1;
  padding: 25px 0 5px 5px;
  margin: auto 0;
  font-family: "Old Standard TT", serif;
  color: #fff;
}

.logo-outer::before,
.logo-outer:after,
.logo-inner::before,
.logo-inner::after {
  content: "";
  position: absolute;
  height: 20%;
  width: 20%;
}

.logo-outer:before {
  right: 0;
  border-right: 1.5px solid var(--tertiary-color);
  border-top: 1.5px solid var(--tertiary-color);
}

.logo-outer:after {
  bottom: 0;
  border-left: 1.5px solid var(--tertiary-color);
  border-bottom: 1.5px solid var(--tertiary-color);
}

.logo-inner:before {
  left: 0;
  top: 0;
  border-left: 1.5px solid var(--tertiary-color);
  border-top: 1.5px solid var(--tertiary-color);
}

.logo-inner:after {
  right: 0;
  bottom: 0;
  border-right: 1.5px solid var(--tertiary-color);
  border-bottom: 1.5px solid var(--tertiary-color);
}

.logo-inner-2:after {
  content: "";
  background: #fff;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  right: 7px;
}

.logo {
  padding-left: 30px;
}

.navbar-nav {
  font-size: 20px;
  padding-right: 30px;
}

.nav-item {
  padding: 0 5px;
}

.bg {
  background: rgba(255, 255, 255, 0.01);
  transition: 500ms ease;
}

.bg.scrolled {
  background: #fff;
}

.image-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url(images/banner.jpg);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  position: relative;
  margin-top: -250px;
  color: #fff;
}

.carousel-item {
  height: 30rem;
  background: #777;
  opacity: 0.8;
  color: #fff;
}

.projects {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 30px;
}
